/* intuitivnejsi box-sizing */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	font-family: sans-serif;
}

.sloupec {
	padding: 20px;
}

.hlavicka	{ background-color: #2ecc71; }
.hlavni		{ background-color: #f1c40f; }
.levy			{ background-color: #3498db; }
.pravy		{ background-color: #e74c3c; }
.paticka	{ background-color: #9b59b6; }

/* ---------------------------------------------------- */
.hlavicka{
	display: grid;
	grid-template-columns: 0px;
	grid-template-rows: 200px;
}
.hlavni{
	display: grid;
	grid-template-columns: 0px;
	grid-template-rows: 0px;
}
.levy{
	display: grid;
	grid-template-columns: 0px;
	grid-template-rows: 200px;
}
.pravy{
	display: grid;
	grid-template-columns: 0px;
	grid-template-rows: 250px;
}
.paticka{
	display: grid;
	grid-template-columns: 0px;
	grid-template-rows: 100px;
}